/* Header styles */
header {
  display: flex;
  justify-content: flex-start;
  padding: 25px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 9999;
  transition: box-shadow 0.3s ease-in-out;
}
.header-text {
  font-size: 24px;
  color: orange;
  font-family: "Open Sans", sans-serif;
  }
header.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.67s ease;
}

header nav ul li a:hover {
  color: rgb(142, 204, 255);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
}

.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
  background-color: transparent;
  border: none;
  padding: 0;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.hamburger:before {
  top: -6px;
}

.hamburger:after {
  bottom: -6px;
}

/* Hide the checkbox */
#menu-toggle {
  display: none;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  header.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #menu-toggle:checked ~ nav ul {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 9998;
    padding: 25px;
    overflow-y: auto;
    transition: transform 0.3s ease;
  }

  #menu-toggle:checked ~ nav ul li {
    margin: 10px 0;
  }

  #menu-toggle:checked ~ .hamburger:before {
    transform: rotate(45deg);
    top: 0;
  }

  #menu-toggle:checked ~ .hamburger:after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  /* Show the header text */
  .header-text {
    display: block;
  }
}
