/* Header styles */
header {
  display: flex;
  justify-content: flex-start;
  padding: 25px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 9999;
  transition: box-shadow 0.3s ease-in-out;
}
.header-text {
  font-size: 24px;
  color: orange;
  font-family: "Open Sans", sans-serif;
  }
header.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.67s ease;
}
header.dark-mode nav ul li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.67s ease;
}

header nav ul li a:hover {
  color: rgb(142, 204, 255);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px;
}

.hamburger {
  display: none;
  position: fixed;
  top: 25px;
  left: 15px;
  width: 30px;
  height: 2px;
  cursor: pointer;
  z-index: 9999;
  background-color: transparent;
  border: none;
  padding: 0;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.hamburger.dark-mode:before,
.hamburger.dark-mode:after {
  
  background-color: #000000;
  
}

.hamburger:before {
  top: -6px;
}

.hamburger:after {
  bottom: -6px;
}

/* Hide the checkbox */
#menu-toggle {
  display: none;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }

  .hamburger {
    display: block;
  }

  header.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #menu-toggle:checked ~ nav ul {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 9998;
    padding: 25px;
    overflow-y: auto;
    transition: transform 0.3s ease;
  }

  #menu-toggle.dark-mode:checked ~ nav ul {
    background-color: #ffffff;
  }

  #menu-toggle:checked ~ nav ul li {
    margin: 10px 0;
  }

  #menu-toggle:checked ~ .hamburger:before {
    transform: rotate(45deg);
    top: 0;
  }

  #menu-toggle:checked ~ .hamburger:after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  /* Show the header text */
  .header-text {
    display: block;
  }
}


/* Toggle button for day and night mode */
.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toggle-button input[type="checkbox"] {
  display: none;
}

.toggle-button label {
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  position: relative;
  cursor: pointer;
}

.toggle-button label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.toggle-button input[type="checkbox"]:checked + label {
  background-color: #a65dd1;
}

.toggle-button input[type="checkbox"]:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background-color: #fff;
}

/* Dark mode styles */
body.dark-mode {
  background: #e7e7e7;
  color: #333333;
  
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
  color: #333333;
  transition: color 0.5s ease;
}

body.dark-mode .toggle-button label {
  background-color: #b8e3ff;
}

body.dark-mode .toggle-button label:after {
  background-color: #fffc41;
}

body.dark-mode .toggle-button input[type="checkbox"]:checked + label {
  background-color: #4a477c;
}

