.portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .portfolio-item {
    width: 340px; /* Adjust the size as per your preference */
    height: 420px; /* Adjust the size as per your preference */
    border-radius: 20px; /* Ensure the image covers the entire square area */
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1.2);
  }
  
  .portfolio-item img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    .portfolio-items {
      display: flex;
      flex-direction: column;
      align-items: center;
     justify-content: center;
    }
    .portfolio-item {
      margin-bottom: 20px;
      align-items: center;
    }

    #portfolio {
      height: auto;
    }
  }